body{
    background:#ddd;
    font-family: monospace;
}

/*Data table*/
table.dataTable thead {
    background: linear-gradient(to right, #0202a5, #010177);
      color:white;
  }
.tabla{
    overflow-x: auto;
  }
/*Formulario insertar*/
.container-add {
    width:90%;
    margin: 50px auto;
}
.container__title{
    margin: 0;
    padding: 10px;
    background: rgba(40, 65, 120, 1);
    color: white;
    font-size:1.9em;
    text-align: center;
}
.container__form{
    background: white;
    box-shadow: 0 0 20px #333;
    padding: 20px;
    flex-wrap: wrap;
}
.container__label{
    font-size: 1.3em;
    
}
.container__input{
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    padding: 5px;
}
.container__submit{
    background: rgba(40, 65, 120, 1);
    color: white;
    border: none;
    width: 100px;
    padding: 10px;
    font-size: 1.1em;
    cursor: pointer;

}

